In [8]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
import matplotlib.pyplot as plt
%matplotlib.inline
import seaborn as sns; sns.set()
sns.pairplot(iris, hue='species', height=3)
plt.show()

UsageError: Line magic function `%matplotlib.inline` not found.